---
---

@import "_settings"
@import "_banner"
@import "_post_item"


.home-container
  @include tablet
    margin: 0 100px
  @include desktop
    margin: 0 300px

.latest
  & > h3
    margin-bottom: 10px
  & > ul
    list-style-type: none
    li
      margin-bottom: 10px
      @include desktop
        margin-bottom: 40px
