$tablet: 896px
$desktop: 1200px

@mixin mobile
  @media (max-width: #{$tablet})
    @content

@mixin tablet
  @media (min-width: #{$tablet})
    @content

@mixin desktop
  @media (min-width: #{$desktop})
    @content

.only-desktop
  display: none
  @include desktop
    display: block

.not-on-desktop
  @media (min-width: #{$desktop})
    display: none

.only-mobile
  display: none
  @media (max-width: #{$tablet})
    display: block

.not-on-mobile
  @media (max-width: #{$tablet})
    display: none
